<style>
  .footer {
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .introduction-footer {
    width: 90%;
    height: auto;
    flex: 1;
    margin: auto;
    padding: 0px;
  }

  .txt-footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: auto;
  }

  .info-footer {
    width: 100%;
    height: auto;
    display: flex;
    flex: 1;
    padding-top: 10px;
  }


  .txt-footer h1 {
    letter-spacing: 10px;
  }

  .info1 {
    cursor: pointer;
    width: 49.9%;
    height: auto;
    flex: 1;
  }

  .info1 h3:hover {
    color: #cc9347;
  }

  .info2 {
    width: 49.9%;
    height: auto;
  }

  .btn-footer {
    padding-bottom: 5px;
    width: 90%;
    height: auto;
  }

  .btn1-footer #B1 {
    width: 49%;
    height: 35px;
    margin-right: 9px;
  }

  .btn1-footer #B2 {
    width: 49%;
    height: 35px;
  }

  .btn2-footer #B3 {
    width: 100%;
    height: 35px;
  }

  .btn3-footer #B4 {
    float: right;
    height: 35px;
    width: 50px;
    background-color: black;
    color: white;
    border: 1px solid black;
  }

  .btn3-footer #B4:hover {
    background-color: white;
    color: black;
  }

  hr {
    width: 90%;
    border: 1px solid black;
    margin: auto;
    margin-top: 10px;
  }
</style>
<hr>
<footer class="footer">
  <div class="introduction-footer">
    <div class="txt-footer">
      <h1><img src="assets\img\logoA.png" alt=""></h1>
    </div>
    <div class="info-footer">
      <div class="info1">
        <h4>HCM, VN</h4>
        <h4>Phone: +0909090</h4>
        <h4>Email: mmh@gmail.com</h4>
      </div>
      <div class="info2">
        <div class="btn1-footer btn-footer">
          <input type="text" id="B1" placeholder="Name">
          <input type="text" id="B2" placeholder="Email">
        </div>
        <div class="btn2-footer btn-footer">
          <input type="text" id="B3" placeholder="Message">
        </div>
        <div class="btn3-footer btn-footer">
          <button id="B4" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</footer>