<script src="https://kit.fontawesome.com/cb9300bc48.js" crossorigin="anonymous"></script>
<style>
  pagination-template {
    width: 100% !important;
  }

  .pagi {
    width: 370px;
    display: flex;
    flex: 1;
    margin: auto;
    
  }

  .txtProduct {
    flex: 1;
    margin: auto;
    text-align: center;
    background: #00646b;
    height: 80px;
    width: 100%;
  }

  .txtProduct h1 {
    padding-top: 8px;
    font-size: 20px;
    height: 40px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .presentation2 {
    display: flex;
    padding: 10px 0px 10px 0px;
    width: 100%;
    min-height: 80vh;
    margin: auto;
  }

  .introduction1 {
    cursor: pointer;
    flex: 1;
    transition: transform .6s ease-out;

  }

  .text1 {
    background: #65659e;
    height: 40px;
    text-align: center;
  }

  .text1:hover {
    background-color: #3a545f;
    color: white;
  }

  .text1 h1 {
    padding-top: 8px;
    font-size: 20px;
  }

  .cover1 {
    text-align: center;
  }

  .cover1 img {
    transition: transform .3s ease-out;
    width: 90%;
    height: 50vh;
    margin-top: 10px;
  }

  .txt2 {
    font-size: 15px;
    width: 90%;
    margin: 10px 0px 0px 20px;
  }

  .introduction2 {
    flex: 1;
  }

  .text2 {
    background: #6588b1;
    height: 40px;
    text-align: center;
  }

  .text2:hover {
    background-color: #5c5c7e;
    color: azure;
  }


  .text2 h1 {
    padding-top: 8px;
    font-size: 20px;
  }

  /* introduction3 */

  .introduction3 {
    flex: 1;
  }

  .text3 {
    background: #6599af;
    height: 40px;
    text-align: center;
  }

  .text3:hover {
    background-color: #80888b;
    color: white;
  }

  .text3 h1 {
    padding-top: 8px;
    font-size: 20px;
  }

  .introduction1:hover {
    box-shadow: 5px 5px 10px #3a545f;
  }

  .introduction1:hover img {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  .form-control{
    border: none;
    width: 600px;
    height: 60px;
    box-shadow: 0px 8px 20px rgb(0 0 0 / 6%);
    border-radius: 8px;
    height: 64px;
    display: flex;
    align-items: center;
    margin-top: -32px;
    margin-left: 250px;
    padding-left: 24px;
  }
  .search-hero{
    align-items: center;
    font-family: 'Helvetica', FontAwesome, sans-serif;
  }
  .text3 {
    background: #6599af;
    height: 40px;
    text-align: center;
  }

  .introduction1:hover h1{
    color: white;
  }

  .text3 h1 {
    padding-top: 8px;
    font-size: 20px;
  }

  .introduction1:hover {
    box-shadow: 5px 5px 10px #3a545f;
  }

  /* introduction3 */
</style>

<div class="presentation2">
  <div class="introduction1">
    <div class="text1">
      <h1>High End</h1>
    </div>
    <div class="cover1">
      <img
        src="https://cdn.cellphones.com.vn/media/catalog/product/cache/7/image/9df78eab33525d08d6e5fb8d27136e95/s/a/samsung-galaxy-s21-ultra-1_1.jpg"
        alt="">
    </div>
    <div class="txt2">
      <h3>Samsung Galaxy S21 Ultra</h3>
      <ul>
        <li>Vi xử lý: Exynos 2100 8 nhân</li>
        <li>RAM: 12 GB</li>
        <li>Bộ nhớ trong: 128 GB</li>
      </ul>
    </div>
  </div>
  <div class="introduction1">
    <div class="text2">
      <h1>Gaming Phone</h1>
    </div>
    <div class="cover1">
      <img
        src="https://cdn.cellphones.com.vn/media/catalog/product/cache/7/image/9df78eab33525d08d6e5fb8d27136e95/a/s/asus-rog-phone-5_0002_gsmarena_001.jpg"
        alt="">
    </div>
    <div class="txt2">
      <h3>ASUS ROG Phone 5
      </h3>
      <ul>
        <li>Vi xử lý: Qualcomm Snapdragon 888</li>
        <li>RAM: 12 GB</li>
        <li>Bộ nhớ trong: 512 GB</li>
      </ul>
    </div>
  </div>
  <div class="introduction1">
    <div class="text3">
      <h1>Midrange</h1>
    </div>
    <div class="cover1">
      <img
        src="https://cdn.cellphones.com.vn/media/catalog/product/cache/7/image/1000x/040ec09b1e35df139433887a97daa66f/x/i/xiaomi-mi-11-den_1_2.jpg"
        alt="">
    </div>
    <div class="txt2">
      <h3>Xiaomi Mi 11 5G 128GB</h3>
      <ul>
        <li>Vi xử lý: Qualcomm SM8350 Snapdragon 888 (5 nm)</li>
        <li>RAM: 8 GB</li>
        <li>Bộ nhớ trong: 128 GB</li>
      </ul>
    </div>
  </div>
</div>
<div class="txtProduct">
  <h1 style="color: rgb(37, 255, 226);">SẢN PHẨM</h1>
</div>
<div class="container">
  <div class="search-hero" >
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#xf002; Tìm kiếm...">
  </div>
  <div class="row">   
    <app-item-single *ngFor="let itemsAb of items | paginate: config | filter: searchText; let i=index" [items1]="itemsAb" [index]="i">
    </app-item-single>
    <div class="col-sm-12">
      <pagination-controls (pageChange)="pageChange($event)" class="pagi"></pagination-controls>
    </div>
  </div>
</div>